header{
    background-color: green;
    width: 95%;
    padding-LEFT: 60px;
   
}





nav ul li{
    display: inline;
    padding: 40px;
    font-size: 25px;
    font: bolder;

}
nav ul li a{
    text-decoration: none;
}
nav ul li a:link{
    background-color:green;
}
nav ul li a:visited{
    background-color:green;
}
nav ul li a:hover{
    background-color:silver;
}
nav ul li a:active{
    background-color: black;
}

.body{
    background-image: url("./assets/images/background2.jpeg");
    background-repeat: no-repeat;
    background-position:cover;
}

#France{
    width: 150px;
    height: 150px;
    float: left;
    margin: 10px;


    
    
}

#Fblue{
    width: 50px;
    background-color: blue;
    height: 150px;
    float: left;
}

#Fwhite{
    width: 50px;
    background-color: white;
    height: 150px;
    float: left;
    border-top: 1px blue solid;
    border-bottom: 1px blue solid;;
    
}

#Fred{
    width: 50px;
    background-color: red;
    height: 150px;
    float: left;
}

#FDesc{
    text-align: center;
}

#Germany{
    width: 200px;
    height: 150px;
    float: left;
    margin: 10px;    

}
#GBlack{
    width: 200px;
    height: 50px;
    background-color: black;
}
#GRed{
    width: 200px;
    height: 50px;
    background-color: red;

}
#Gyellow{
    width: 200px;
    height: 50px;
    background-color: yellow;
}
#GDesc{
    text-align: center;
}


#gabon{
    width: 200px;
    height: 150px;
    float: left;
    margin: 10px;    

}
#gg{
    width: 200px;
    height: 50px;
    background-color: green;
}
#gy{
    width: 200px;
    height: 50px;
    background-color: yellow;

}
#gbl{
    width: 200px;
    height: 50px;
    background-color: blue;
}
#gdesc{
    text-align: center;
}


#hungary{
    width: 200px;
    height: 150px;
    float: left;
    margin: 10px;
}

#hunr{
    width: 200px;
    height: 50px;
    float: left;
    background-color: red;

}
#hunw{
    width: 200px;
    height: 50px;
    float: left;
    background-color: white;

}
#hung{
    width: 200px;
    height: 50px;
    float: left;
    background-color: green;
}
#hundesc{
    text-align: center;
}

#ukraine{
    width: 200px;
    height: 150px;
    float: left;
    margin: 10px;
}
#ukcyan{
    width: 200px;
    height: 75px;
    background-color: cyan;
    float: left;
}
#uky{
    width: 200px;
    height: 75px;
    background-color: yellow;
    float: left;
}
#ukdesc{
    text-align: center;
}



#indonesia{
    width: 200px;
    height: 150px;
    float: left;
    margin: 10px;
    
}
#indor{
    width: 200px;
    height: 75px;
    background-color: red;
    float: left;
}
#indow{
    width: 200px;
    height: 75px;
    background-color: white;
    float: left;
    border-bottom:1px black solid;
    border-left: 1px black solid;
    border-right: 1px black solid;
}
#indodesc{
    text-align: center;
}

#nigeria{
    width: 150px;
    height: 200px;
    float: left;
    margin: 10px;
    margin-top: 60px;


}
#nigg{
    width: 50px;
    height: 200px;
    float: left;
    background-color: green;

}

#nigw{
    width: 50px;
    height: 200px;
    float: left;
    background-color: white;
    border-top: 1px cadetblue solid;
    border-bottom: 1px cadetblue solid;
}

#nigg2{
    width: 50px;
    height: 200px;
    float: left;
    background-color: green;

}
#nigdesc{
    text-align: center;
}

#palau{
    background-color: cyan;
    width: 150px;
    height: 200px;
    position: relative;
    margin: 10px;
    margin-top: 111px;
    float: left;
}
#palau::before{
    content: "";
    width: 40%;
    height: 40%;
    border-radius: 50%;
    top: 20%;
    left: 30%;
    position: absolute;
    background-color: yellow;
    float: left;
}

#italy{
    width: 150px;
    height: 200px;
    float: left;
    margin: 10px;
    margin-top: 60px;


}
#itag{
    width: 50px;
    height: 200px;
    float: left;
    background-color: green;

}

#itaw{
    width: 50px;
    height: 200px;
    float: left;
    background-color: white;
    border-top: 1px cadetblue solid;
    border-bottom: 1px cadetblue solid;
}

#itar{
    width: 50px;
    height: 200px;
    float: left;
    background-color: red;

}
#itadesc{
    text-align: center;
}    


#ireland{
    width: 150px;
    height: 200px;
    float: left;
    margin: 10px;
    margin-top: 60px;


}
#ireg{
    width: 50px;
    height: 200px;
    float: left;
    background-color: green;

}

#irew{
    width: 50px;
    height: 200px;
    float: left;
    background-color: white;
    border-top: 1px cadetblue solid;
    border-bottom: 1px cadetblue solid;
}

#ireo{
    width: 50px;
    height: 200px;
    float: left;
    background-color: orange;

}
#iredesc{
    text-align: center;
}

#yemen{
    width: 200px;
    height: 150px;
    float: left;
    margin: 10px;
    margin-top: 60px;
}

#yemdesc{
    text-align: center;
}

#yemr{
    width: 200px;
    height: 50px;
    float: left;
    background-color: red;

}

#yemw{
    width: 200px;
    height: 50px;
    float: left;
    background-color: white;
    
}

#yemb{
    width: 200px;
    height: 50px;
    float: left;
    background-color: black;
    
}


#luxumberg{
    width: 200px;
    height: 150px;
    float: left;
    margin: 10px;
    margin-top: 60px;
}

#luxdesc{
    text-align: center;
}

#luxr{
    width: 200px;
    height: 50px;
    float: left;
    background-color: red;

}

#luxw{
    width: 200px;
    height: 50px;
    float: left;
    background-color: white;
    
}

#luxb{
    width: 200px;
    height: 50px;
    float: left;
    background-color: blue;
    
}



body{
    background-image: url("./assets/images/background2.jpeg");
    background-repeat: no-repeat;
}

#header2{
    text-align: center;
    color: darkgreen;
    border-bottom: 2px black solid;
    border-top: 2px black solid;
    padding-bottom: 2px;
    padding-top: 2px;
}
#firstBox{
    margin-left: 450px;
    margin-top: 100px;
    width: 456px;
    height: 456px;
}
#innerBox1{
    width: 150px;
    height: 150px;
    border-bottom: 1px red solid;
    border-right: 1px red solid; 
    float: left;
}

#innerBox2{
    width: 150px;
    height: 150px;
    border-bottom: 1px red solid;
    border-left: 1px red solid;
    border-right: 1px red solid; 
    float: left;
}

#innerBox3{
    width: 150px;
    height: 150px;
    border-bottom: 1px red solid;
    border-left: 1px red solid; 
    float: left;
}

#innerBox4{
    width: 150px;
    height: 150px;
    border-bottom: 1px red solid;
    border-top: 1px red solid;
    border-right: 1px red solid; 
    float: left;
}

#innerBox5{
    width: 150px;
    height: 150px;
    border:1px red solid; 
    float: left;
}

#innerBox6{
    width: 150px;
    height: 150px;
    border-bottom: 1px red solid;
    border-top: 1px red solid;
    border-left: 1px red solid;
    float: left;
}
#innerBox7{
    width: 150px;
    height: 150px;
    border-top: 1px red solid;
    border-right: 1px red solid; 
    float: left;
}

#innerBox8{
    width: 150px;
    height: 150px;
    border-right: 1px red solid;
    border-top: 1px red solid;
    border-left: 1px red solid; 
    float: left;
}

#innerBox9{
    width: 150px;
    height: 150px;
    border-top: 1px red solid;
    border-left: 1px red solid; 
    float: left;
}

#blogdiv{
    border-bottom: 2px black solid;
}

article{
    font-size: 15px;
    text-align: justify;
    line-height: 25px;
}

.title{
    font-size: 23px;
    font-weight: bold;
}

.date{
    font-size: 15px;
    font-style: italic;
    text-transform: uppercase;
}
























